@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.active {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}

.authcards {
  width: 240px;
  height: 320px;
}

.authSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.authSlide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.authSlide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.authSlide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.authSlide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.authSlide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.authSlide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.authSlide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.authSlide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.authSlide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.authSlide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
